{% extends 'base.html' %}

{% block content %}

<div>
    <h3>Artists from melon</h3>
    <form action="">
        <input type="text" name="keyword" placeholder="artist-name">
        <button type="submit">search</button>
    </form>

    <ul>
        {% for artist_info in artist_info_list %}
        <li>
            <img src="{{ artist_info.url_img_cover }}" alt="">
            <span>{{ artist_info.artist_id }} | {{ artist_info.name }}</span>

            <form action="{% url 'artist:artist-add-from-melon' %}" method="POST">
                {% csrf_token %}
                <input type="hidden" name="artist_id" value="{{ artist_info.artist_id }}">
                {% if artist_info.is_exist %}
                    <button type="submit">Update DB</button>
                {% else %}
                    <button type="submit">Add to DB</button>
                {% endif %}
            </form>

        </li>
        {% endfor %}
    </ul>
</div>

{% endblock %}