{% extends 'base.html' %}

{% block content %}
<div class="album-list-container">
    <ul class="clearfix">
        {% for album in albums %}
        <li class="clearfix">
            <a href="">
                <img src="{% if album.img_cover %}{{ album.img_cover.url }}{% endif %}" alt="" class="cover">
                <div class="album-info">
                    <div class="name">{{ album.title }}</div>
                    <div>{{ album.release_date }}</div>
                </div>
            </a>
        </li>
        {% endfor %}
    </ul>
</div>
{% endblock %}