{% extends 'base.html' %}


{% block content %}

<div>

    <form action="" method="POST">
        {% csrf_token %}
        <div>
            <h1>Song Search</h1>
        </div>
        <input type="text" name="keyword">
        <button type="submit">search</button>
    </form>

    <h2>searched by artist</h2>
    <ul>
        {% for song in songs_from_artists %}
            <li>{{ song.title }}</li>
        {% endfor %}
    </ul>

    <h2>searched by album</h2>
    <ul>
        {% for song in songs_from_albums %}
            <li>{{ song.title }}</li>
        {% endfor %}
    </ul>

    <h2>searched by title</h2>
    <ul>
        {% for song in songs_from_title %}
            <li>{{ song.title }}</li>
        {% endfor %}
    </ul>
</div>

{% endblock %}
