{% extends 'base.html' %}


{% block content %}

<div>
    <h1><a href="{% url 'song:song-search' %}">Search</a></h1>
    <form action="" method="GET">
        <div>
            <h1>Song Search</h1>
        </div>
        <input type="text" name="keyword">
        <button type="submit">search</button>
    </form>

    <h2>searched by artist</h2>
    <ul>
        {% for song in songs_from_artists %}
            <li>{{ song.title }}</li>
        {% endfor %}
    </ul>

    <h2>searched by album</h2>
    <ul>
        {% for song in songs_from_albums %}
            <li>{{ song.title }}</li>
        {% endfor %}
    </ul>

    <h2>searched by title</h2>
    <ul>
        {% for song in songs_from_title %}
            <li>{{ song.title }}</li>
        {% endfor %}
    </ul>
</div>

{% endblock %}
