{% extends 'base.html' %}


{% block content %}

<div>
    <h1><a href="{% url 'song:song-search' %}">Search</a></h1>
    <form action="" method="GET">
        <div>
            <h1>Song Search</h1>
        </div>
        <input type="text" name="keyword">
        <button type="submit">search</button>
    </form>

    {% include 'include/song_search_result.html' with type='artists' songs=songs_from_artists only %}
    {% include 'include/song_search_result.html' with type='albums' songs=songs_from_albums only %}
    {% include 'include/song_search_result.html' with type='title' songs=songs_from_title only %}

</div>

{% endblock %}
