{% extends 'base.html' %}


{% block content %}

<div>
    <h1><a href="{% url 'song:song-search' %}">Search</a></h1>
    <form action="" method="GET">
        <div>
            <h1>Song Search</h1>
        </div>
        <input type="text" name="keyword" value="{{ request.GET.keyword }}">
        <button type="submit">search</button>
    </form>

    {% for song_info in song_infos %}
        {% include 'include/song_search_result.html' with type=song_info.type songs=song_info.songs only %}
    {% endfor %}

</div>

{% endblock %}
