{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="form-container">
    <form action="" method="POST" class="clearfix">
        {% csrf_token %}

        <!--{% if errors %}-->
        <!--{% for error in errors %}-->
        <!--<p>{{ error }}</p>-->
        <!--{% endfor %}-->
        <!--{% endif %}-->

        {% for field in signup_form %}
        <div class="form-group clearfix">
            <div class="label-box">
                <label for="{{ field.id_for_label }}">{{ field.label }}</label>
            </div>
            <!--form automatically create input element only, label, button must be created manually-->
            <!--using {{ field.label_tag }}, but it creates ':' next to label name-->
            {{ field }}
            {% for error in field.errors %}
                <p>{{ error }}</p>
            {% endfor %}
        </div>
        {% endfor %}

        <div>
            <button type="submit" class="btn btn-signup btn-theme">signup</button>
        </div>
    </form>
</div>

{% endblock %}
