{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" href="{% static 'css/header.css' %}">
    <link rel="stylesheet" href="{% static 'css/artist-list.css' %}">
    <link rel="stylesheet" href="{% static 'css/album-list.css' %}">
    <title>Melon Clone</title>
</head>
<body>

    <div class="header-wrap">
        <header class="main-header clearfix">
            <div class="search-container">
                <a href="">
                    <img src="{% static 'images/logo.png' %}" alt="">
                </a>
                <div class="input-container">
                    <input type="text" class="search-input">
                </div>
            </div>
            <nav class="main-header-nav clearfix">
                <ul class="clearfix">
                    <li><a href="{% url 'artist:artist-list' %}">Artists</a></li>
                    <li><a href="{% url 'album:album-list' %}">Albums</a></li>
                    <li><a href="{% url 'song:song-list' %}">Songs</a></li>
                </ul>
            </nav>
            <nav class="main-header-nav clearfix nav-right">
                <ul class="clearfix">
                    {% if user.is_authenticated %}
                    <li><a href="">myinfo</a></li>
                    <li><a href="{% url 'logout' %}">Logout</a></li>
                    {% else %}
                    <li><a href="{% url 'login' %}">Login</a></li>
                    <li><a href="{% url 'signup' %}">Signup</a></li>
                    {% endif %}
                </ul>
            </nav>
        </header>
    </div>

    <div class="content-block">
        {% block content %}
        {% endblock %}
    </div>

</body>
</html>
